@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.tick:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L5.44444 9L11 1' stroke='white' strokeWidth='2' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
}

.select {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='11' viewBox='0 0 20 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L10 10L19 1' stroke='%239D9D9D'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: center;
}